:root {
    --color-purple: #6b4dd1;
    --color-Lpurple: #e1c3ff;
    --color-Dpurple: #362061;
    --color-yellow: #feba00;
    --color-beige: #fff9f1;
}

body {
    background-color: var(--color-beige);
}

.url {
    display: none;
}
.qr {
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 2rem;
}

#defaultImage,
#emotionAnimation {
    display: none;

    max-width: 25rem;
    height: auto;

    align-self: center;
    justify-self: center;

    background-color: var(--color-yellow);
    border-radius: 8px;
}

#emotionAnimation {
    width: 25rem;
    min-height: 25rem;
}