#emoties {
    width: max-content;
    height: max-content;
    margin: 10px;
    background-color: #f2f545;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 40px;
}
