:root {
    --color-purple: #6b4dd1;
    --color-Lpurple: #e1c3ff;
    --color-Dpurple: #362061;
    --color-yellow: #feba00;
    --color-beige: #fff9f1;
}

body {
    background-color: var(--color-beige);
}

/*
.emoties {
    width: max-content;
    height: max-content;
    margin: 10px;
    background-color: var(--color-yellow);
    padding: 1rem;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 40px;
}
*/
/*
.url {
    display: none;
}
*/

.titel,
.url,
.qr {
    display: flex;
    align-self: center;
    justify-self: center;
}

.titel {
    font-size: 50px;
    color: var(--color-Dpurple);
}

.qr {
    display: block;
    margin: 2rem;
}

#defaultImage,
#emotionAnimation {
    display: none;

    max-width: 25rem;
    height: auto;

    align-self: center;
    justify-self: center;

    background-color: var(--color-yellow);
    border-radius: 8px;
}

#emotionAnimation {
    width: 25rem;
    min-height: 25rem;
}

#emotiesTekst {
    display: none;
}