:root {
    --color-purple: #6b4dd1;
    --color-Lpurple: #e1c3ff;
    --color-Dpurple: #362061;
    --color-yellow: #feba00;
    --color-beige: #fff9f1;
}

body {
    background-color: var(--color-beige);
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    touch-action: none;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 0rem auto;
    margin-bottom: 1rem;
    max-width: 90%;
}

#area {
    width: 100%;
    height: 300px;
    background-color: var(--color-yellow);
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    touch-action: none;
    user-select: none;
}